body {
    font-family: Arial;
}

.jumbotron {
    color: rgb(170, 11, 11);
    font-family: 'Mouse Memoirs', sans-serif;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    border-color: rgb(131, 14, 14);
}

.card {
    border-color: rgb(131, 14, 14);
}

.display-4 {
    font-size: 8vw;
    margin: auto;
}

#topImageR {
    float: right;
    margin-top: -25px;
    margin-left: 60px;
    padding-right: 20px;
}

#topImageL {
    float: left;
    margin-top: -20px;
    margin-right: 40px;
}

.card-header {
    background-color: rgb(134, 20, 20);
    color: white;
}

#formSubmit {
    background-color: rgb(131, 14, 14);
}